.transaction-history {
    width: 1000px;
    border-collapse: collapse;
    margin: 20px;
}
  
.transaction-history th,
.transaction-history td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    text-transform: capitalize;
    color: #23272a;
}

.transaction-history th {
    text-transform: uppercase;
    background-color: #00bcd5;
    color: #fff;
}

.transaction-history tbody tr:nth-child(even) {
    background-color: #ecf1f3;
}
  